include footer

- const jsFiles = htmlWebpackPlugin.files.js
- const currentFileName =  htmlWebpackPlugin.options.filename;
- const currentFileNameWithoutExt = currentFileName.substring(0, currentFileName.length - 5);

each js, index in jsFiles
  if index === 0 || js.match(`${currentFileNameWithoutExt}.bundle.js`)
    script(type='text/javascript', src=js)
